{% extends 'base.html' %}

{% load static %}

{% block title %}Delete income{% endblock %}
{% block meta %}Datos{% endblock %}

{% block content %}
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Income /</span> Delete Income</h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <h5 class="card-header">Delete "{{income}}"?</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete the selected income named "{{income}}"?</h6>
                          <p class="mb-0">Once you delete this income, there is no going back. Please be certain.</p>
                        </div>
                      </div>
                      <form method="POST" action="{% url 'deleteincome' income.id %}" >
                        {% csrf_token %}
                        <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                            required
                          />
                          <label class="form-check-label" for="accountActivation"
                            >I confirm</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Delete</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            {% endblock %}
