
{% extends 'base.html' %}

{% load static %}

{% block title %}Your expenses{% endblock %}
{% block meta %}Datos{% endblock %}

{% block content %}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="header-container d-flex justify-content-between align-items-center">
                <h4 class="fw-bold py-3 mb-4">
                  <a href="/dashboard" class="text-decoration-none">
                      <span class="text-muted fw-light">Finances /</a></span> Expenses
                  
              </h4>
                <div class="button-container d-flex align-items-center">
                  <a href="/addexpenses" class="btn btn-primary mr-2"><strong>Add Expense</strong></a>

                </div>
            </div>
            

              <!-- Basic Bootstrap Table -->
              <div class="card">
                <h5 class="card-header">Expense Summary</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">

                      {% for expense in expense %}

                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{expense.date}}</strong></td>
                        <td>{{expense.name}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.category_name}}</td>
                        <td>
                          <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                              <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="{% url 'updateexpenses' expense.id %}"
                                ><i class="bx bx-edit-alt me-1"></i> Edit</a
                              >
                              <a class="dropdown-item" href="{% url 'deleteexpense' expense.id %}"
                                ><i class="bx bx-trash me-1"></i> Delete</a
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->

              
            </div>
            <!-- / Content -->

            {% endblock %}
